# Ignore system files
__pycache__/
*.pyc

# Ignore browser downloads
*.xls
*.xlsx
*.csv

# Ignore ChromeDriver logs or session files
*.log

# Ignore OS files
.DS_Store

# Ignore virtual environments
venv/
.env/